<html>

<body>
    <div class="logo-container-2" style="background-color:#EF4144">
        <div class="logo-2">
            <img src="../Images/logo-alt.png" class="logo-img" alt="Logo">
        </div>
    </div> 

    <p>
        Estimado: ##NOMBRECOMPLETO##<!--{2}-->
    </p>
    <p>
        Informamos a usted que ha postulado al siguiente proyecto:
    </p>
    <p>
        Código de Proyecto: ##CODIGOPROYECTO##<!--{3}-->
    </p>
    <p>
        Nombre del Proyecto: ##NOMBREPROYECTO##<!--{4}-->
    </p>
    <p>
        Estado: POSTULADO.
    </p>
    <p>
        Fecha: ##FECHAPOSTULACION##<!--{5}-->
    </p>
    <br />
    <br />
    <br />
    <!-- FOOTER 3-->
    <div class="footer3-bg">
        <div class="container">
            <div class="row">
                <!-- ICON CONTAINER  -->
                <div class="col-md-4 footer3-icon-container">
                    <div class="footer3-icon">
                        <span aria-hidden="true" class="icon_pin_alt"></span>
                    </div>
                    <h3 class="footer3-title-container">
                        UBICACIÓN
                    </h3>
                    <div class="footer3-text-container">
                        Fidel Oteiza N°1956, piso 3, Providencia. Santiago - Chile
                    </div>
                </div>
                <div class="col-md-4 footer3-icon-container">
                    <div class="footer3-icon">
                        <span aria-hidden="true" class="icon_phone"></span>
                    </div>
                    <h3 class="footer3-title-container">
                        TELÉFONO
                    </h3>
                    <div class="footer3-text-container">
                        (56 2 ) 2754 02 00
                    </div>
                </div>
                <div class="col-md-4 footer3-icon-container">
                    <div class="footer3-icon">
                        <span aria-hidden="true" class="icon_comment"></span>
                    </div>
                    <h3 class="footer3-title-container">
                        IND ATIENDE
                    </h3>
                    <div class="footer3-text-container">
                        <a class="a-invert" href="mailto:indatiende@ind.cl">indatiende@ind.cl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>