@{
    ViewBag.Title = "Actualizar Beneficiarios por Definir.";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Actualizar Beneficiario por Definir</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div id="mensaje">
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @ViewBag.respuesta.ToString()
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnCancelar" class="btn btn-sm btn-info pull-left" data-dismiss="modal">Aceptar</button>
    </div>
</div>

<script>
    codErrorActualizacion = '@ViewBag.codError';
</script>