@model AltoRendimiento.Models.Beneficiario
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">¿Esta seguro que desea eliminar este registro?</h4>
</div>


<div class="modal-body">

    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.benNombre)
            @Html.DisplayFor(model => model.benApellidoPaterno)
        </dd>

        <dt>
           Rut
        </dt>

        <dd>
            @Html.DisplayFor(model => model.benRutBeneficiario)
        </dd>
         
    </dl>

    @if (ViewBag.Utilizado == true)
    {
        <div class="text-danger"> Información: El beneficiario esta siendo utilizado en uno o más proyectos, por lo cual no puede ser eliminado.</div><br />

    }

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancelar</button>

        @if(ViewBag.Utilizado == false)
        { 
        <button type="submit" class="btn btn-sm btn-success">Aceptar</button>
        }
    </div>
}
