
@{
    ViewBag.Title = "AntecedentePostulante";
}

<div class="text-right">
    <button type="button" onclick="volver()" class="btn btn-sm btn-info pull-left" data-dismiss="modal">Volver</button>
</div>
<br />
<br />
<br />

  <h4>Datos de la Organización</h4>
<br />

    <form class="form-horizontal">              
        <div class="form-group">
            <label class="col-sm-3 control-label">Rut Organización</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">95.253.984-0</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">CORPORACIÓN NACIONAL DEL DEPORTE</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Domicilio</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">Las Petunias 344</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Comuna</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">Ñuñoa</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Región</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">Metropolinata</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">contacto@corp.cl</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Teléfono</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">56 2 2354 6781</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Fax</label>
            <div class="col-sm-9">
                <span class="form-control" disabled="false">56 2 2354 6700</span>
</div>
        </div>    
    
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label"></label>
            <div class="col-sm-9 text-right">
                @*<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success text-right">Guardar</button>*@
            </div>
        </div>
    </form>

    
